// MOBILE

// GENERAL BUTTONS
.button-small {
  display: inline-block;

  font-family: $verdana;
  font-size: $p-big-font-size-mobile;
  font-weight: 700;

  color: $white;
  background-color: $black;

  border: none;
  border-radius: $border-radius-small;

  margin-left: $margin-side-mobile;
  margin-right: $margin-side-mobile;
  padding: $button-small-padding;
}

.button-big {
  border: 1px solid $yellow;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.35);
}

.button-small {
  background-color: $yellow;
  color: $black;
  border: 1px solid $yellow;
}

.button-small:hover {
  background-color: $yellow-opacity;
  color: $black;
  transition: 0.3s;
  box-shadow: none;
}

.button-small:focus {
  border: 1px solid $yellow;
  background-color: $white;
  color: $black;
  box-shadow: none;
}

.button-big:hover {
  cursor: pointer;
  background-color: $yellow-opacity;
  color: $black;
  transition: 0.3s;
  box-shadow: none;
}

.button-big:focus {
  border: 1px solid $yellow;
  background-color: $white;
  color: $black;
  box-shadow: none;
}

.button-reserveer {
  border: none;
  border-radius: $border-radius-big;
  margin-left: $margin-side-mobile;
  margin-right: $margin-side-mobile;
  padding: $button-small-padding;
}

// PAGES

// BLOG
.content-blog {
  &__tag-filter {
    &__button-tag {
      background-color: #f2db04;
      border: none;
      font-weight: bold;
      color: black;
      padding: 10px 30px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 12px;
    }
  }
}

// HOME
.home-container {
  &__biolab {
    &__flexbox {
      &__left {
        &__button {
          margin-bottom: 30px;
        }
      }
    }
  }
}

.button-home {
  background-color: $yellow;
  color: $black;
  //padding: 20px 40px 20px 40px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.35);
}

// DESKTOP - 1280PX
@media only screen and (min-width: 1280px) {
  // GENERAL BUTTONS
  .button-home {
    background-color: $yellow;
    color: $black;
    margin-left: $margin-side-desktop;
    margin-right: $margin-side-desktop;
  }
}

// DESKTOP - 1920PX
@media only screen and (min-width: 1920px) {
  // GENERAL BUTTONS
  .button-home {
    margin-left: $margin-side-hd;
    //margin-right: $margin-side-hd;
  }
}

// DESKTOP - 2560PX
@media only screen and (min-width: 2560px) {
  // GENERAL BUTTONS
  .button-home {
    margin-left: $margin-side-qhd;
    //margin-right: $margin-side-hd;
  }
}

// DESKTOP - 3840PX
@media only screen and (min-width: 3840px) {
  // GENERAL BUTTONS
  .button-home {
    margin-left: $margin-side-4k;
    //margin-right: $margin-side-hd;
  }
}
