// MOBILE

// CONTACT
.contact-container {
  &__general {
    &__flexbox {
      &__left {
        &__img {
          width: 100px;
          height: 100px;
          object-fit: cover;
          transform: skewY(5deg);
          border-radius: $border-radius-big;
          margin-left: 14px;
        }
      }
    }
  }
}

.category-wrapper {
  &__images-wrapper {
    padding-top: 30px;
    margin-bottom: -30px;
    display: flex;
    flex-direction: column;

    &__img {
      width: 200px;
      height: 200px;
      object-fit: cover;
      border-radius: $border-radius-big;
      transform: skewY(-5deg);
      margin-left: 14px;
      position: relative;
    }
    &__img:nth-child(even) {
      align-self: end;
      bottom: 50px;
    }
  }
}

.category-wrapper {
  &__machines-wrapper {
    &__list {
      &__item {
        &__link {
          &__img {
            border-radius: $border-radius-big;
            max-height: 200px;
          }
        }
      }
    }
  }
}

.machine-wrapper {
  &__img {
    border-radius: $border-radius-small;
  }
}

// HEADER
.header {
  &__logo {
    &__img {
      width: 70px;
      margin-top: 5px;
    }
  }
}

//blog & machines MOBILE
.overview-image {
  width: 337.5px;
  height: 225px;
  object-fit: cover;
}

// FOOTER
.footer {
  &__content {
    &__block {
      &__imageholder {
        display: block;
        width: 100%;
        text-align: left;

        &__img {
          width: 215px;
        }
      }
    }
  }
}

// DESKTOP - 1280PX
@media only screen and (min-width: 1280px) {
  // CONTACT
  .contact-container {
    &__general {
      &__flexbox {
        &__left {
          &__img {
            width: 120px;
            height: 120px;
          }
        }
      }
    }
  }

  // FOOTER
  .footer {
    &__content {
      &__block {
        &__imageholder {
          text-align: left;
        }
      }
    }
  }
}
