// MOBILE

// GENERAL TITLES
.h1 {
    font-family: $verdana;
    margin: $h1-margin-mobile;
    margin-top: 0;
    font-size: $h1-font-size-mobile;
    font-weight: $h1-font-weight;
}

.h2 {
    font-family: $verdana;
    font-size: $h2-font-size-mobile;
    font-weight: $h2-font-weight;
    margin: $h2-margin-mobile;
}

.h2-home {
    background-color: $black;
    padding-left: $margin-side-mobile;
    padding-top: 5px;
    padding-bottom: 5px;
    color: $white;
    border-radius: 0px 10px 10px 0px;
}

.h2-categories {
    font-family: $verdana;
    font-size: $h2-font-size-mobile;
    font-weight: $h1-font-weight;
}

.h3 {
    font-size: $h3-font-size-mobile;
    font-weight: $h3-font-weight;
    margin: $h3-margin-mobile;
}

.h4 {
    font-family: $verdana;
    font-size: $h4-font-size-mobile;
    font-weight: $h4-font-weight;
    margin: $h4-margin-mobile;
}

.h4-footer {
    color: $lightergrey;
}

.h5 {
    font-family: $verdana;
    font-size: $h5-font-size-mobile;
    font-weight: $h5-font-weight;
    margin: $h5-margin-mobile;
    color: $grey;
}

.h5-footer {
    color: $yellow;
}

// PAGES

// HOME
.home-container {
    &__message {
        &__title {
            margin-top: 0;
            padding-top: 30px;
        }
    }

    &__introduction {
        &__title {
            margin-right: 47%;
        }

        &__flexbox {
            &__right {
                &__openhours {
                    &__title:first-of-type {
                        margin-top: 0;
                    }
                }
            }
        }
    }

    &__working {
        &__banner {
            &__title {
                margin-right: 42%;
            }
        }
    }

    &__biolab {
        &__banner {
            &__title {
                margin-right: 69%;
            }
        }
    }
}

// CATEGORY-DETAIL
.category-wrapper {
    &__machines-wrapper {
        &__list {
            &__item {
                &__link {
                    &__title {
                        margin-top: 5px;
                    }
                }
            }
        }
    }
}

// MACHINE-DETAIl
.machine-wrapper {
    &__tutorial-wrapper {
        .h3 {
            margin: 10px 0px 30px 0px !important;
        }
    }
}
// MACHINE-DETAIl
.machine-banner {
    &__title {
        color: $white;
    }
}

// FOOTER
.footer {
    &__content {
        &__block {
            .first-title {
                margin-top: 0;
            }
        }
    }
}

// ERROR
.error-container {
    &__text-container {
        &__title {
            font-size: 34px;
            margin-bottom: 45px;
        }
    }
}

// WHAT IS FABLAB
.what-is-fablab-container {
    &__introduction {
        &__title {
            margin-top: 30px;
        }

        &__flexbox {
            &__left {
                &__title {
                    margin-top: 30px;
                }

                &__team {
                    &__titlecontainer {
                        &__title {
                            margin: 0;
                            padding: 14px 25px;
                        }
                    }

                    &__container {
                        &__flexbox {
                            &__box {
                                &__title {
                                    margin-top: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.h1-what-is-fablab {
    font-family: $verdana;
    font-size: $h2-font-size-mobile;
    font-weight: $h2-font-weight;
    margin: $h2-margin-mobile;
    margin-bottom: 30px;
    margin-top: 0;

    span:first-of-type {
        color: $yellow;
    }

    span:last-of-type {
        color: #747474;
    }
}

//BLOG
.blog-wrapper {
    &__blog-overview {
        &__text-wrapper {
            &__title {
                margin-top: 20px;
            }
        }
    }
}



// MOBILE MIDDLE TALL
@media only screen and (min-height: 640px) {
    .what-is-fablab-container {
        &__introduction {
            &__flexbox {
                &__left {
                    &__team {
                        &__titlecontainer {
                            left: 20%;
                        }

                        &__container {
                            &__flexbox {
                                &__box {
                                    &__title {
                                        margin-top: 12px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// MOBILE TALLER
@media only screen and (min-height: 730px) {
    .what-is-fablab-container {
        &__introduction {
            &__flexbox {
                &__left {
                    &__team {
                        &__titlecontainer {
                            left: 24%;
                        }

                        &__container {
                            &__flexbox {
                                &__box {
                                    &__title {
                                        margin-top: 16px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// DESKTOP - 1280PX
@media only screen and (min-width: $desktop-1280) {
    // GENERAL BUTTONS
    .h2-home {
        padding-left: $margin-side-desktop;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-top: 0;
        margin-bottom: 20px;
    }

    // HOME
    .home-container {
        &__message {
            &__title {
                width: 50%;
            }
        }

        &__introduction {
            &__title {
                margin-right: 77%;
            }
        }

        &__working {
            &__banner {
                &__title {
                    margin-top: 0;
                    margin-right: 75%;
                }
            }
        }

        &__biolab {
            &__banner {
                &__title {
                    margin-top: 0;
                    margin-right: 83%;
                }
            }
        }

        &__partners {
            &__title {
                margin-top: 0;
            }
        }
    }

    // CONTACT
    .contact-container {
        &__tabscontainer {
            &__title {
                margin-top: 0;
            }
        }
    }

    // FOOTER
    .footer {
        &__content {
            &__block {
                .first-title {
                    margin-top: 30px;
                }
            }
        }
    }

    // WHAT IS FABLAB
    .what-is-fablab-container {
        &__introduction {
            &__title {
                margin-left: 0;
            }

            &__flexbox {
                &__right {
                    &__titlecontainer {
                        &__title {
                            position: absolute;
                            left: 20%;
                            top: 25%;
                            color: $yellow;
                            margin: 0;
                            padding: 0;
                        }
                    }
                }
            }
        }
    }

    .h1-what-is-fablab {
        font-size: $h1-font-size-mobile;
        margin-top: 40px;
        margin-bottom: 100px;
    }

    .machine-banner{
        &__title{
            .h1{
                margin: 0px;
            }
        }
    }
}

// DESKTOP - 1536PX
@media only screen and (min-width: $desktop-1536) {
    // GENERAL BUTTONS
    .h2-home {
        padding-left: $margin-side-desktop;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-top: 0;
        margin-bottom: 20px;
    }

    // HOME
    .home-container {
        &__introduction {
            &__title {
                margin-right: 80%;
            }
        }

        &__working {
            &__banner {
                &__title {
                    margin-right: 79%;
                }
            }
        }

        &__biolab {
            &__banner {
                &__title {
                    margin-right: 86%;
                }
            }
        }
    }
}

// DESKTOP - 1920PX
@media only screen and (min-width: $desktop-hd) {
    // GENERAL BUTTONS
    .h2-home {
        padding-left: $margin-side-hd;
        background-color: initial;
        color: $black;
        font-size: $h2-home-font-size-hd;
    }

    // HOME
    .home-container {
        &__introduction {
            &__title {
                margin-right: $margin-side-desktop;
            }
        }

        &__working {
            &__banner {
                &__title {
                    margin-right: $margin-side-desktop;
                }
            }
        }

        &__biolab {
            &__banner {
                &__title {
                    margin-right: $margin-side-desktop;
                }
            }
        }
    }
}

// DESKTOP - 2560PX
@media only screen and (min-width: $desktop-qhd) {
    // GENERAL BUTTONS
    .h2-home {
        //padding-left: $margin-side-qhd;
        margin-left: 600px;
        padding-left: 62px;
        border-radius: 10px;
    }

    // HOME
    .home-container {
        &__introduction {
            &__title {
                margin-right: $margin-side-qhd;
            }
        }

        &__working {
            &__banner {
                &__title {
                    margin-right: $margin-side-qhd;
                }
            }
        }

        &__biolab {
            &__banner {
                &__title {
                    margin-right: $margin-side-qhd;
                }
            }
        }
    }
}

// DESKTOP - 3840PX
@media only screen and (min-width: $desktop-4k) {
    // GENERAL BUTTONS
    .h2-home {
        //padding-left: $margin-side-qhd;
        margin-left: 1240px;
        padding-left: 62px;
    }

    // HOME
    .home-container {
        &__introduction {
            &__title {
                margin-right: $margin-side-4k;
            }
        }

        &__working {
            &__banner {
                &__title {
                    margin-right: $margin-side-4k;
                }
            }
        }

        &__biolab {
            &__banner {
                &__title {
                    margin-right: $margin-side-4k;
                }
            }
        }
    }

    //BLOG
    .container-blog {
        h1 {
            padding-top: 70px;
        }
    }
}
