// MOBILE

// GENERAL TITLES
.h1 {
  font-family: $verdana;
  margin: $h1-margin-mobile;
  margin-top: 0;
  font-size: $h1-font-size-mobile;
  font-weight: $h1-font-weight;
}

.h2 {
  font-family: $verdana;
  font-size: $h2-font-size-mobile;
  font-weight: $h2-font-weight;
  margin: $h2-margin-mobile;
}

.h2-home {
  background-color: $black;
  padding-left: $margin-side-mobile;
  padding-top: 5px;
  padding-bottom: 5px;
  color: $white;
  border-radius: 0px 10px 10px 0px;
}

.h2-categories {
  font-family: $verdana;
  font-size: $h2-font-size-mobile;
  font-weight: $h1-font-weight;
}

.h3 {
  font-size: $h3-font-size-mobile;
  font-weight: $h3-font-weight;
  margin: $h3-margin-mobile;
}

.h4 {
  font-family: $verdana;
  font-size: $h4-font-size-mobile;
  font-weight: $h4-font-weight;
  margin: $h4-margin-mobile;
}

.h4-footer {
  color: $lightergrey;
}

.h5 {
  font-family: $verdana;
  font-size: $h5-font-size-mobile;
  font-weight: $h5-font-weight;
  margin: $h5-margin-mobile;
  color: $grey;
}

.h5-footer {
  color: $yellow;
}

// PAGES

// HOME
.home-container {
  &__message {
    &__title {
      margin-top: 0;
      padding-top: 30px;
    }
  }

  &__introduction {
    &__title {
      margin-right: 47%;
    }

    &__flexbox {
      &__right {
        &__openhours {
          &__title:first-of-type {
            margin-top: 0;
          }
        }
      }
    }
  }

  &__working {
    &__banner {
      &__title {
        margin-right: 42%;
      }
    }
  }

  &__biolab {
    &__banner {
      &__title {
        margin-right: 69%;
      }
    }
  }
}

//category-detail

.category-wrapper {
  &__machines-wrapper {
    &__list {
      &__item {
        &__link {
          &__title {
            margin-top: 5px;
          }
        }
      }
    }
  }
}

// FOOTER
.footer {
  &__content {
    &__block {
      .first-title {
        margin-top: 0;
      }
    }
  }
}

// DESKTOP - 1280PX
@media only screen and (min-width: 1280px) {
  // GENERAL BUTTONS
  .h2-home {
    padding-left: $margin-side-desktop;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 0;
    margin-bottom: 20px;
  }

  // HOME
  .home-container {
    &__message {
      &__title {
        width: 50%;
      }
    }

    &__introduction {
      &__title {
        margin-right: 77%;
      }
    }

    &__working {
      &__banner {
        &__title {
          margin-right: 75%;
        }
      }
    }

    &__biolab {
      &__banner {
        &__title {
          margin-right: 83%;
        }
      }
    }
  }

  // CONTACT
  .contact-container {
    &__tabscontainer {
      &__title {
        margin-top: 0;
      }
    }
  }

  // FOOTER
  .footer {
    &__content {
      &__block {
        .first-title {
          margin-top: 30px;
        }
      }
    }
  }
}

// DESKTOP - 1536PX
@media only screen and (min-width: 1536px) {
  // GENERAL BUTTONS
  .h2-home {
    padding-left: $margin-side-desktop;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 0;
    margin-bottom: 20px;
  }

  // HOME
  .home-container {
    &__introduction {
      &__title {
        margin-right: 80%;
      }
    }

    &__working {
      &__banner {
        &__title {
          margin-right: 79%;
        }
      }
    }

    &__biolab {
      &__banner {
        &__title {
          margin-right: 86%;
        }
      }
    }
  }
}

// DESKTOP - 1920PX
@media only screen and (min-width: 1920px) {
  // GENERAL BUTTONS
  .h2-home {
    padding-left: $margin-side-hd;
  }

  // HOME
  .home-container {
    &__introduction {
      &__title {
        margin-right: 71%;
      }
    }

    &__working {
      &__banner {
        &__title {
          margin-right: 70%;
        }
      }
    }

    &__biolab {
      &__banner {
        &__title {
          margin-right: 75%;
        }
      }
    }
  }
}

// DESKTOP - 2560PX
@media only screen and (min-width: 2560px) {
  // GENERAL BUTTONS
  .h2-home {
    //padding-left: $margin-side-qhd;
    margin-left: 600px;
    padding-left: 62px;
    border-radius: 10%;
  }

  // HOME
  .home-container {
    &__introduction {
      &__title {
        margin-right: 65%;
      }
    }

    &__working {
      &__banner {
        &__title {
          margin-right: 64%;
        }
      }
    }

    &__biolab {
      &__banner {
        &__title {
          margin-right: 68%;
        }
      }
    }
  }
}
