.category-wrapper {
  &__materialen {
    &__list {
      padding-bottom: 20px;
      margin-left: 5%;
      margin-right: 5%;
    }
    &__price-list {
      text-decoration: underline;
      font-size: $p-small-font-size-mobile;
    }
  }
}
