.blog-wrapper {
  display: block;
  margin: 0 10%;
}

.blog-overview {
  display: block;
  margin: 30px 0px;
}

.blog-overview {
  display: block;
  img {
    object-fit: cover;
    width: 100%;
    overflow: hidden;
  }
  p {
    padding: 8px 0;
  }
}
