.categories-wrapper {
  margin: $margin-side-mobile;
  margin-top: calc(12vh + 30px);

  &__machines {
    display: flex;
    flex-direction: column;
    list-style-type: none;

    &__category {
      margin-top: 8%;
      margin-bottom: 8%;
      text-align: center;
    }
  }
}

@media only screen and (min-width: 1280px) {
  .categories-wrapper {
    margin: $margin-side-desktop;
  }
}
