// MOBILE

// CONTACT
.contact-container {
    &__contact {
        &__flexbox {
            &__contactform {
                margin-top: 30px;
                background-color: $white;
                border-radius: $border-radius-big;
                border: 2px solid $yellow;

                &__form {
                    padding-left: $margin-side-mobile;
                    padding-right: $margin-side-mobile;
                    padding-top: 30px;
                    padding-bottom: 30px;

                    &__label {
                        display: block;
                        font-family: $verdana;
                        font-size: $p-small-font-size-mobile;
                        font-weight: 700;
                        margin: $label-margin-mobile;
                    }

                    &__input {
                        display: block;
                        font-family: $verdana;
                        font-size: $p-small-font-size-mobile;
                        font-weight: 500;
                        margin: $input-margin-mobile;
                        padding: $input-padding-mobile;
                        border-radius: $border-radius-small;
                        border: none;
                        width: 100%;
                        background-color: $background-grey;
                    }

                    .textarea {
                        resize: none;
                        height: 300px;
                    }

                    &__submit {
                        padding: $button-big-padding;
                        background-color: $yellow;
                        color: $black;
                        font-family: $verdana;
                        font-size: $button-big-font-size-mobile;
                        font-weight: 700;
                        border-radius: $border-radius-small;
                    }
                }
            }
        }
    }
}





// DESKTOP - 1280PX
@media only screen and (min-width: $desktop-1280) {

    // CONTACT
    .contact-container {
        &__contact {
            &__flexbox {
                &__contactform {
                    margin-top: 0;
                    width: 50%;

                    &__form {
                        &__flexbox {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            gap: 10px;
                
                            &__box {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}