.machine-wrapper {
  &__info {
    &__row {
      td {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }

    &__row:nth-child(odd) {
      background-color: #ebebeb;
    }
  }
}

@media only screen and (min-width: 1280px) {
  .machine-wrapper {
    &__info {
      &__row {
        td {
          min-width: 250px;
        }
      }
    }
  }
}
