.machine-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $black;
    background-size: cover;
    padding: 20px $margin-side-mobile;
    position: relative;
    text-align: center;
}

@media screen and (min-width: $desktop-1280) {
    .machine-banner {
        flex-direction: unset;
        text-align: initial;
        padding-left: $margin-side-desktop;
        padding-right: $margin-side-desktop;

        &__title {
            flex: 1;
            margin-bottom: 0;
        }
    }
}