/* GENERAL + DESKTOP */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    background-color: $white;
    font-family: $verdana;
}

.logo {
    color: $black;
    text-transform: uppercase;
}

.nav-links {
    display: flex;
    background-color: $white;
    justify-content: space-around;
    width: 55%;
}

.nav-links li {
    list-style-type: none;
}

.nav-links a {
    text-decoration: none;
    font-family: $verdana;
    font-weight: bold;
    color: $black;
}

.burger {
    display: none;
    z-index: 1;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: $black;
    margin: 5px;
    transition: all 0.3s ease;
}


/* TABLET PORTRAIT */
@media screen and (max-width: 1024px) {
    .nav-links {
        width: 50%;
    }
}


/* MOBILE */
@media screen and (max-width: 768px) {
    nav {
        flex-direction: row-reverse;
        padding-left: $margin-side-mobile;
        padding-right: $margin-side-mobile;
    }
    
    .nav-links {
        position: absolute;
        right: 0px;
        height: 100vh;
        top: 0;
        background-color: $black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 75%;
        transform: translateX(-200%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links a {
        color: $white;
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    .header__languageButton {
        display: none;
    }
}


/* BRING MENU ITEMS IN SCREEN VIA NAV-ACTIVE CLASS */
.nav-active {
    transform: translateX(-35%);
    padding-top: 15vh;
    padding-bottom: 15vh;
}


/* FADE ANIMATION MENU ITEM */
@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(-50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}


/* ANIMATE DIFFERENT LINES OF BURGER VIA TOGGLE CLASS */
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
    background-color: white;
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
    background-color: white;
}




// DESKTOP - 1280PX
@media only screen and (min-width: 1280px) {
    nav {
        padding-left: $margin-side-desktop;
        padding-right: $margin-side-desktop;
    }
}