// MOBILE
.header {
    &__menu {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        height: 12vh;
        background-color: $white;
        padding-left: $margin-side-mobile;
        padding-right: $margin-side-mobile;

        .nav-active {
            transform: translateX(-35%);
            padding-top: 15vh;
            padding-bottom: 15vh;
        }

        &__navlinks {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            position: absolute;
            right: 0px;
            height: 100vh;
            top: 0;
            align-items: center;
            width: 75%;
            transform: translateX(-150%);
            transition: transform 0.5s ease-in;
            z-index: 1;
            background-color: $black-light;

            &__item {
                list-style-type: none;
                opacity: 0;

                &__link {
                    text-decoration: none;
                    font-family: $verdana;
                    font-weight: bold;
                    color: $white;
                }

                .active {
                    border-bottom: 3px solid $yellow;
                    color: $yellow;
                }
            }
        }

        &__burger {
            display: block;
            cursor: pointer;
            z-index: 2;

            &__line {
                width: 25px; //25
                height: 3px;
                background-color: $black;
                margin: 5px;
                transition: all 0.3s ease;
            }
        }
    }

    &__languagebutton {
        display: none;
    }
}



// fade animation menu item
@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(-50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

// animate different lines of burger with toggle class
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
    background-color: white;
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
    background-color: white;
}





// TABLET PORTRAIT
@media screen and (min-width: 768px) {
    .nav-links {
        width: 50%;
    }
}





// DESKTOP - 1280PX
@media only screen and (min-width: 1280px) {
    .header {
        &__menu {
            flex-direction: row;
            padding-left: $margin-side-desktop;
            padding-right: $margin-side-desktop;
            height: 140px;

            &__navlinks {
                flex-direction: row;
                background-color: $white;
                justify-content: space-around;
                width: 55%;
                transform: translateX(0%);
                height: 140px;
                position: initial;
    
                &__item {
                    opacity: 1;
    
                    &__link {
                        color: $black;
                    }
    
                    &__link:hover {
                        border-bottom: 3px solid $yellow;
                    }
                }
            }
    
            &__burger {
                display: none;
                z-index: 1;
            }
        }

        &__logo {
            &__img {
                width: 100px;
            }
        }
    }
}