// MOBILE
.content-blog {
  padding: 0 5%;
  margin-top: calc(12vh + 30px);
}

//MOBILE
@media screen and (min-width: 1280px) {
  .blog-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
