//DESKTOP vanaf 1280px
@media screen and (min-width: $desktop-1280) {
    .blog-wrapper {
        display: none;

        &__blog-overview {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &__text-wrapper {
                &__link {
                    margin-left: 15px;
                }
            }
        }
    }

    .blog-wrapper-desktop {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        margin-top: 30px;
    }
}