.contact-container {
    &__contact {
        &__flexbox {
            &__data {
                margin-left: $margin-side-mobile;
                margin-right: $margin-side-mobile;

                &__link:first-of-type {
                    margin-bottom: 8px;
                }

                &__link {
                    display: block;
                    font-size: $p-big-font-size-mobile;
                }

                &__socials {
                    margin-top: 30px;

                    &__item {
                        display: inline;
                    }
                }
            }

            &__contactform {
                margin-top: 30px;
                background-color: $lightgrey;
                border-radius: $border-radius-big;
            }
        }
    }

    &__reserve {
        padding-left: $margin-side-mobile;
        padding-right: $margin-side-mobile;
    }

    &__general {
        padding-left: $margin-side-mobile;
        padding-right: $margin-side-mobile;

        &__flexbox {
            margin-top: 30px;

            &__left {
                &__contact {
                    display: block;
                    font-size: $p-big-font-size-mobile;
                }
            }
        }
    }

    &__accessibility {
        padding-left: $margin-side-mobile;
        padding-right: $margin-side-mobile;
    }

    &__maps {
        margin: 0;
        padding: 0;
    }
}