.error-container {
    /* height: calc(100vh - calc(12vh + 30px)); //12vh is menu, 30px is extra padding */
    position: relative;

    &__text-container {
        /* margin-top: calc(12vh + 30px); //12vh is menu, 30px is extra padding */
        position: absolute;
        top: 25%;
        left: 25%;

        &__link {
            padding: $button-big-padding;
            background-color: $yellow;
            color: $black;
            font-weight: 700;
            border-radius: $border-radius-small;
            margin-left: 10px;
        }
    }
}

// DESKTOP - 1280PX
@media only screen and (min-width: $desktop-1280) {
    .error-container {
        &__text-container {
            /* margin-top: 210px;
            top: 15%;
            left: 40%; */
        }
    }
}

// DESKTOP - 1366PX
@media only screen and (min-width: $desktop-1366) {
    .error-container {
        &__text-container {
            /* margin-top: 210px;
            top: 18%;
            left: 46%; */
        }
    }
}

// DESKTOP - 1536PX
@media only screen and (min-width: $desktop-1536) {
    .error-container {
        &__text-container {
            /* margin-top: 210px;
            top: 18%;
            left: 44%; */
        }
    }
}

// DESKTOP - 1920PX
@media only screen and (min-width: $desktop-hd) {
    .error-container {
        &__text-container {
            /* margin-top: 210px;
            top: 24%;
            left: 46%; */
        }
    }
}

// DESKTOP - 2560PX
@media only screen and (min-width: $desktop-qhd) {
    .error-container {
        &__text-container {
            /* margin-top: 210px;
            top: 30%;
            left: 47%; */
        }
    }
}

// DESKTOP - 3840PX
@media only screen and (min-width: $desktop-4k) {
    .error-container {
        &__text-container {
            /* margin-top: 210px;
            top: 36%;
            left: 48%; */
        }
    }
}
