.faq-wrapper {
    &__section {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;

        &__item {
            margin-top: 2rem;
            padding-bottom: 1rem;
            border-bottom: 2px solid $black;
            cursor: pointer;
            max-width: 864px;

            &__questioncontainer {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &__question {
                    margin-top: 0;
                }
            }

            &__answercontainer {
                max-height: 0;
                overflow: hidden;
                transition: max-height 1s ease;

                &__answer {
                    padding-top: 1rem;
                }
            }
        }
    }
}

.faq.active .answer {
    max-height: 300px;
}