.home-container {
    background-color: $background-grey;

    &__banner {
        &__background {
            height: 92vh;
            background-image: url(../../images/background.webp);
            background-repeat: no-repeat;
            background-color: $lightergrey;
            background-position: center;
            background-size: cover;
        }
    }
    
    &__message {
        padding-left: $margin-side-mobile;
        padding-right: $margin-side-mobile;
        background-color: $lightgrey;
        padding-bottom: 30px;
    
        &__title {
            margin-top: 0;
            padding-top: 30px;
        }
    }
    
    &__introduction {
        &__title {
            margin-right: 50%;
        }
    
        &__flexbox {
            &__left {
                padding-bottom: 30px;
    
                &__paragraph {
                    padding-left: $margin-side-mobile;
                    padding-right: $margin-side-mobile;
                    padding-bottom: 30px;
                }

                &__button {
                    display: inline-block;
                }
            }
    
            &__right {
                border: 2px solid $yellow;
                background-color: $white;
                border-radius: $border-radius-big;
                padding-top: 30px;
                padding-bottom: 30px;
    
                &__openhours {
                    padding-left: $margin-side-mobile;
                    padding-right: $margin-side-mobile;
                }
    
                &__openhours:last-of-type {
                    margin-top: 20px;
                }
            }
        }
    }

    &__working {
        &__banner {
            background-image: url("../../images/fablab.webp");
            background-repeat: no-repeat;
            //background-color: $lightergrey;
            background-position: center;
            background-size: cover;

            &__title {
                margin-right: 40%;
            }
        }

        &__flexbox {
            &__left {
                &__paragraph {
                    padding-left: $margin-side-mobile;
                    padding-right: $margin-side-mobile;
                    padding-bottom: 30px;
                }
            }

            &__right {
                display: none;
            }
        }
    }

    &__biolab {
        &__banner {
            &__title {
                margin-right: 67%;
            }
        }

        &__flexbox {
            &__left {
                &__paragraph {
                    padding-left: $margin-side-mobile;
                    padding-right: $margin-side-mobile;
                    padding-bottom: 30px;
                }

                &__button {
                    margin-bottom: 30px;
                }
            }

            &__right {
                display: none;
            }
        }
    }
}