.home-container {
    background-color: $background-grey;
    padding-bottom: 50px;

    &__banner-container {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        max-width: 100%;
        height: 100vh;
    }

    &__banner {
        &__background {
            display: flex;
            height: 88vh;

            &__scroll {
                position: relative;
                width: 100vw;
                text-align: center;
            }
        }
    }

    &__message {
        padding-left: $margin-side-mobile;
        padding-right: $margin-side-mobile;
        background-color: $yellow;
        padding-bottom: 30px;
        color: $black;
    }

    &__introduction {
        &__flexbox {
            &__left {
                padding-bottom: 30px;
            }

            &__right {
                border: 2px solid $yellow;
                border-right: none;
                background-color: $white;
                border-radius: $border-radius-big;
                padding-top: 30px;
                padding-bottom: 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                //align-items: center;

                &__openhours {
                    padding-left: $margin-side-mobile;
                    padding-right: $margin-side-mobile;
                }

                &__openhours:last-of-type {
                    margin-top: 20px;
                }
            }
        }
    }

    &__working {
        &__banner {
            background-image: url("../../assets/images/fablab.webp");
        }

        &__flexbox {
            &__right {
                display: none;
            }
        }
    }

    &__biolab {
        &__banner {
            background-image: url("../../assets/images/biolab.webp");
        }

        &__flexbox {
            &__right {
                display: none;
            }
        }
    }

    &__partnersflexbox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        padding-left: $margin-side-mobile;
        padding-right: $margin-side-mobile;
        width: 100%;

        &__box {
            width: 60px;
            height: 60px;
            position: absolute;
            bottom: 0;
            right: $margin-side-mobile;

            &__container {
                background-color: $yellow;
                border-radius: 50%;
                width: 100%;
                height: 100%;
                position: relative;
                border: 2px solid $yellow;

                &__link {
                    width: 100%;
                    height: 100%;
                    padding: 17px;
                    position: absolute;
                }
            }
        }
    }
}

// DESKTOP - 1280PX
@media screen and (min-width: $desktop-1280) {
    .home-container {
        padding-bottom: 60px;

        &__banner {
            height: 100vh;

            &__background {
                &__animation {
                    height: 100vh;
                    margin-left: 0;

                    .intro {
                        .typing {
                            margin-left: 0;
                        }
                    }
                }

                &__scroll {
                    height: 100vh;
                }
            }
        }

        &__message {
            padding-left: $margin-side-desktop;
            padding-right: $margin-side-desktop;
            padding-bottom: 30px;
        }

        &__introduction {
            margin-top: 100px;

            &__flexbox {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                &__left {
                    width: 60%;
                    padding-bottom: 0;
                }

                &__right {
                    border-radius: 15px 0px 0px 15px;
                    height: 27vh;
                }
            }
        }

        &__working {
            &__banner {
                background-image: none;
            }

            &__flexbox {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;

                &__left {
                    display: inline-block;
                    width: 60%;
                }

                &__right {
                    display: inline-block;
                    width: 40%;
                    margin-right: $margin-side-desktop;
                }
            }
        }

        &__biolab {
            &__banner {
                background-image: none;
            }

            &__flexbox {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;

                &__left {
                    display: inline-block;
                    width: 60%;
                }

                &__right {
                    display: inline-block;
                    width: 40%;
                    margin-right: $margin-side-desktop;
                }
            }
        }

        &__partners {
            margin-top: 60px;
        }

        &__partnersflexbox {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            position: relative;
            padding-left: $margin-side-desktop;
            padding-right: $margin-side-desktop;

            &__box {
                width: 75px;
                height: 75px;
                position: absolute;
                bottom: 0;
                right: $margin-side-desktop;

                &__container {
                    &__link {
                        padding: 25px;
                    }
                }

                &__container:hover {
                    background-color: $background-grey;
                    border: 2px solid $black-light;
                    transition: 0.5s;
                }
            }
        }
    }

    .flexbox-row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

// DESKTOP - 1440PX
@media screen and (min-width: $desktop-1440) {
    .home-container {
        &__introduction {
            &__flexbox {
                &__right {
                    height: 21vh;
                }
            }
        }
    }
}

// DESKTOP - 1536PX
@media screen and (min-width: $desktop-1536) {
    .home-container {
        &__introduction {
            &__flexbox {
                &__right {
                    height: 21vh;
                }
            }
        }
    }
}

// DESKTOP - 1920PX
@media only screen and (min-width: $desktop-hd) {
    .home-container {
        &__message {
            padding-left: $margin-side-hd;
            padding-right: $margin-side-hd;
        }

        &__introduction {
            &__flexbox {
                &__right {
                    border-right: 2px solid $yellow;
                    margin-right: $margin-side-hd;
                    border-radius: 15px;
                    height: 19vh;
                }
            }
        }

        &__working {
            &__flexbox {
                &__right {
                    margin-right: $margin-side-hd;
                }
            }
        }

        &__biolab {
            &__flexbox {
                &__right {
                    margin-right: $margin-side-hd;
                }
            }
        }

        &__partnersflexbox {
            padding-left: $margin-side-hd;
            padding-right: $margin-side-hd;

            &__box {
                right: $margin-side-hd;
            }
        }
    }
}

// DESKTOP - 2560PX
@media only screen and (min-width: $desktop-qhd) {
    .home-container {
        &__banner {
            &__background {
                height: calc(100vh - 140px); //140px is height of menu
            }
        }

        &__message {
            padding-left: $margin-side-qhd;
            padding-right: $margin-side-qhd;
        }

        &__introduction {
            &__flexbox {
                &__right {
                    margin-right: $margin-side-qhd;
                    height: 15vh;
                }
            }
        }

        &__working {
            &__flexbox {
                &__right {
                    margin-right: $margin-side-qhd;
                    width: 26%;
                }
            }
        }

        &__biolab {
            &__flexbox {
                &__right {
                    margin-right: $margin-side-qhd;
                    width: 26%;
                }
            }
        }

        &__partnersflexbox {
            padding-left: $margin-side-qhd;
            padding-right: $margin-side-qhd;

            &__box {
                right: $margin-side-qhd;
            }
        }
    }
}

// DESKTOP - 3840PX
@media only screen and (min-width: $desktop-4k) {
    .home-container {
        &__message {
            padding-left: $margin-side-4k;
            padding-right: $margin-side-4k;
        }

        &__introduction {
            &__flexbox {
                &__right {
                    margin-right: $margin-side-4k;
                    height: 15vh;
                }
            }
        }

        &__working {
            &__flexbox {
                &__right {
                    margin-right: $margin-side-4k;
                    width: 18%;
                }
            }
        }

        &__biolab {
            &__flexbox {
                &__right {
                    margin-right: $margin-side-4k;
                    width: 18%;
                }
            }
        }

        &__partnersflexbox {
            padding-left: $margin-side-4k;
            padding-right: $margin-side-4k;

            &__box {
                right: $margin-side-4k;
            }
        }
    }
}
