.home-container {
    background-color: $background-grey;
    padding-bottom: 50px;

    &__banner {
        &__background {
            display: flex;
            height: 88vh;
            background-repeat: no-repeat;
            background-color: $lightergrey;
            background-position: center;
            background-size: cover;

            &__scroll {
                height: 88vh;
                position: relative;
                width: 100vw;
                text-align: center;
            }
        }
    }
    
    &__message {
        padding-left: $margin-side-mobile;
        padding-right: $margin-side-mobile;
        background-color: $lightgrey;
        padding-bottom: 30px;
    }
    
    &__introduction {
        &__flexbox {
            &__left {
                padding-bottom: 30px;
            }
    
            &__right {
                border: 2px solid $yellow;
                background-color: $white;
                border-radius: $border-radius-big;
                padding-top: 30px;
                padding-bottom: 30px;
    
                &__openhours {
                    padding-left: $margin-side-mobile;
                    padding-right: $margin-side-mobile;
                }
    
                &__openhours:last-of-type {
                    margin-top: 20px;
                }
            }
        }
    }

    &__working {
        &__banner {
            height: 218px;
            width: 100%;
            background-image: url("../../assets/images/fablab.webp");
            background-repeat: no-repeat;
            background-color: $lightergrey;
            background-position: center;
            background-size: cover;
            margin-bottom: 30px;
            padding-top: 135px;
            margin-top: 30px;
        }

        &__flexbox {
            &__right {
                display: none;
            }
        }
    }

    &__biolab {
        &__banner {
            height: 218px;
            width: 100%;
            background-image: url("../../assets/images/biolab.webp");
            background-repeat: no-repeat;
            background-color: $lightergrey;
            background-position: center;
            background-size: cover;
            margin-bottom: 30px;
            padding-top: 135px;
            margin-top: 30px;
        }

        &__flexbox {
            &__right {
                display: none;
            }
        }
    }

    &__partners {
        padding-left: $margin-side-mobile;
        padding-right: $margin-side-mobile;

        &__img {
            display: block;
            width: 215px;
        }
    }

    &__partnersflexbox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;

        &__box {
            width: 60px;
            height: 60px;
            position: absolute;
            bottom: 0;
            right: $margin-side-mobile;

            &__container {
                background-color: $yellow;
                border-radius: 50%;
                width: 100%;
                height: 100%;
                position: relative;
                border: 2px solid $yellow;
            
                &__link {
                    width: 100%;
                    height: 100%;
                    padding: 17px;
                    position: absolute;
                }
            }
        }
    }
}





// DESKTOP - 1280PX
@media screen and (min-width: 1280px) {
    .home-container {   
        padding-bottom: 50px;

        &__banner {
            height: calc(100vh - 140px);

            &__background {
                &__animation {
                    height: calc(100vh - 140px);
                    margin-left: 0;

                    .intro {
                        left: $margin-side-desktop;
                        bottom: 52px;

                        .typing {
                            margin-left: 0;
                        }
                    }
                }

                &__scroll {
                    height: calc(100vh - 140px);
                }
            }
        }
        
        &__message {
            padding-left: $margin-side-desktop;
            padding-right: $margin-side-desktop;
            padding-bottom: 30px;
        }

        &__introduction {
            margin-top: 60px;

            &__flexbox {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                &__left {
                    width: 60%;
                    padding-bottom: 0;
                }

                &__right {
                    border-radius: 15px 0px 0px 15px;
                    height: 27vh;
                }
            }
        }

        &__working {
            &__banner {
                height: auto;
                width: auto;
                background-image: none;
                background-repeat: no-repeat;
                background-color: initial;
                margin-bottom: 30px;
                padding-top: 00px;
                margin-top: 60px;

                &__title {
                    margin-top: 0;
                }
            }
    
            &__flexbox {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;

                &__left {
                    display: inline-block;
                    width: 60%;
                }

                &__right {
                    display: inline-block;
                    width: 40%;
                    margin-right: $margin-side-desktop;

                    &__img {
                        display: inline-block;
                        width: auto;
                        object-fit: cover;
                        transform: skewY(3deg);
                        border-radius: $border-radius-big;
                    }
                }
            }
        }

        &__biolab {
            &__banner {
                height: auto;
                width: auto;
                background-image: none;
                background-repeat: no-repeat;
                background-color: initial;
                margin-bottom: 30px;
                padding-top: 00px;
                margin-top: 60px;

                &__title {
                    margin-top: 0;
                }
            }

            &__flexbox {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;

                &__left {
                    display: inline-block;
                    width: 60%;
                }

                &__right {
                    display: inline-block;
                    width: 40%;
                    margin-right: $margin-side-desktop;

                    &__img {
                        display: inline-block;
                        width: auto;
                        object-fit: cover;
                        transform: skewY(3deg);
                        border-radius: $border-radius-big;
                    }
                }
            }
        }

        &__partners {
            margin-top: 60px;
            padding-left: $margin-side-desktop;
            padding-right: $margin-side-desktop;

            &__title {
                margin-top: 0;
            }
    
            &__img {
                display: inline-block;
                width: 250px;
            }
        }

        &__partnersflexbox {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            position: relative;
    
            &__box {
                width: 75px;
                height: 75px;
                position: absolute;
                bottom: 0;
                right: $margin-side-desktop;
    
                &__container {
                    &__link {
                        padding: 25px;
                    }
                    //padding: 26px;
                }

                &__container:hover {
                    background-color: $white;
                    border: 2px solid $black-light;
                    transition: 0.5s;
                    //color: $black !important;
                }
            }
        }
    }
}





// DESKTOP - 1440PX
@media screen and (min-width: 1440px) {
    .home-container {
        &__introduction {
            &__flexbox {
                &__right {
                    height: 21vh;
                }
            }
        }
    }
}