.container-house-rules {
    margin: 30px $margin-side-mobile;
    margin-top: calc(12vh + 30px); //12vh is menu, 30 px is extra padding
}

.container {
    &__block {
        margin-top: 30px;

        div {
            margin-top: 5px;

            .icon-container {
                text-align: center;
                margin-right: 10px;

                i {
                    font-size: 25px;
                    width: 30px;
                    //margin-top: 30px;
                    color: $grey;
                }
            }
        }

        &__title {
            margin-top: 0;
        }
    }
}

// DESKTOP - 1280PX
@media screen and (min-width: $desktop-1280) {
    .container-house-rules {
        margin: 210px $margin-side-desktop;
        margin-bottom: 70px;
    }

    .container {
        &__block {
            margin-top: 70px;
        }
    }
}

// DESKTOP - 1920PX
@media screen and (min-width: $desktop-hd) {
    .container-house-rules {
        margin-left: $margin-side-hd;
        margin-right: $margin-side-hd;
    }
}

// DESKTOP - 2560PX
@media screen and (min-width: $desktop-qhd) {
    .container-house-rules {
        margin-left: $margin-side-qhd;
        margin-right: $margin-side-qhd;
    }
}

// DESKTOP - 3840PX
@media screen and (min-width: $desktop-4k) {
    .container-house-rules {
        margin-left: $margin-side-4k;
        margin-right: $margin-side-4k;
        min-height: calc(100vh - 344px - 140px - 70px - 70px); //344px is footer, 140px is menu, 2x 70px is margin top/bottom
    }
}