.machine-wrapper {
    margin-left: 5%;
    margin-right: 5%;
    
    &__banner {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.machine-wrapper {
    &__info {
        padding-bottom: 30px;
    }
}
