.what-is-fablab-container {
    min-height: calc(100vh - 342px);

    &__introduction {
        padding-top: 12vh;
        padding-top: calc(12vh + 30px);
        margin-left: $margin-side-mobile;
        margin-right: $margin-side-mobile;

        &__flexbox {
            &__left {
                &__team {
                    background-color: $white;
                    border: 2px solid $yellow;
                    padding: 55px 16px 20px 16px;
                    position: relative;
                    border-radius: $border-radius-small;

                    &__titlecontainer {
                        position: absolute;
                        background-color: $black;
                        color: $yellow;
                        top: -25px;
                        left: 15%;
                        transform: skewY(-2deg);
                    }

                    &__container {
                        &__flexbox {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;

                            &__box {
                                min-width: 40%;

                                &__function {
                                    color: $grey;
                                    font-size: $p-small-font-size-mobile;
                                    line-height: 18px;
                                }
                            }

                            &__box:first-of-type {
                                margin-bottom: 10px;
                            }
                        }

                        &__flexbox:last-of-type {
                            margin-top: 30px;
                        }
                    }
                }
            }

            &__right {
                display: none;
            }
        }
    }
}

// DESKTOP - 1280PX
@media screen and (min-width: 1280px) {
    .what-is-fablab-container {
        &__introduction {
            padding-top: 210px;
            margin-left: $margin-side-desktop;
            margin-right: $margin-side-desktop;

            &__breadcrumb {
                margin-left: 0;
            }

            &__flexbox {
                display: flex;

                &__left {
                    margin-left: 0;
                    width: 50%;
                    padding-right: 37px;

                    &__team {
                        display: none;
                    }
                }

                &__right {
                    display: inline-block;
                    width: 50%;
                    position: relative;
                    padding-left: 37px;

                    &__titlecontainer {
                        position: absolute;
                        background-color: $black;
                        left: 14vw;
                        top: -30px;
                        width: 230px;
                        height: 50px;
                        transform: skewY(-2deg);
                    }

                    &__flexbox {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        background-color: $white;
                        border: 2px solid $yellow;
                        width: 100%;
                        border-radius: $border-radius-big;
                        padding: 40px;

                        &__box {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;

                            &__box {
                                margin-left: 30px;
                            }
                        }

                        &__box:last-of-type {
                            margin-top: 30px;
                        }
                    }
                }
            }
        }
    }
}

// DESKTOP - 1366PX
@media screen and (min-width: 1366px) {
    .what-is-fablab-container {
        &__introduction {
            &__flexbox {
                &__right {
                    &__titlecontainer {
                        left: 15vw;
                    }

                    &__flexbox {
                        &__box {
                            &__box {
                                margin-top: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// DESKTOP - 1600PX
@media screen and (min-width: 1600px) {
    .what-is-fablab-container {
        &__introduction {
            &__flexbox {
                &__right {
                    &__titlecontainer {
                        left: 16vw;
                    }

                    &__flexbox {
                        &__box {
                            &__box {
                                margin-top: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// DESKTOP - 1920PX
@media screen and (min-width: 1920px) {
    .what-is-fablab-container {
        &__introduction {
            margin-left: $margin-side-hd;
            margin-right: $margin-side-hd;

            &__flexbox {
                &__right {
                    &__titlecontainer {
                        left: 11.5vw;
                    }
                }
            }
        }
    }
}

// DESKTOP - 2560PX
@media screen and (min-width: 2560px) {
    .what-is-fablab-container {
        &__introduction {
            margin-left: $margin-side-qhd;
            margin-right: $margin-side-qhd;

            &__flexbox {
                &__right {
                    &__titlecontainer {
                        left: 8.5vw;
                    }
                }
            }
        }
    }
}

// DESKTOP - 3840PX
@media screen and (min-width: 3840px) {
    .what-is-fablab-container {
        &__introduction {
            margin-left: $margin-side-4k;
            margin-right: $margin-side-4k;

            &__flexbox {
                &__right {
                    &__titlecontainer {
                        left: 5.5vw;
                    }
                }
            }
        }
    }
}
