// MOBILE
.contact-container {
    &__accessibility {
        padding-left: $margin-side-mobile;
        padding-right: $margin-side-mobile;
    }
}





// DESKTOP - 1280PX
@media only screen and (min-width: 1280px) {
    .contact-container {
        &__accessibility {
            margin-top: 70px;
            margin-left: $margin-side-desktop;
            margin-right: 222px;
        }
    }
}