// MOBILE
.contact-container {
    &__title {
        margin-left: $margin-side-mobile;
    }

    &__tabscontainer {
        &__tabs {
            width: 100%;
            height: 93.5vh;
            overflow: hidden;
            margin-top: 20px;
            margin-bottom: 30px;
            border-radius: 15px;

            &__tabheader {
                height: 60px;
                display: flex;
                align-items: center;
                background-color: $white;

                .active {
                    color: $yellow;
                }

                &__item {
                    width: calc(100% / 4);
                    text-align: center;
                    color: #888;
                    font-weight: 700;
                    cursor: pointer;
                    font-size: 14px;
                    text-transform: uppercase;
                    outline: none;
                }
            }

            &__tabindicator {
                position: relative;
                width: calc(100% / 4);
                height: 5px;
                background: $yellow;
                left: 0px;
                border-radius: 5px;
                transition: all 500ms ease-in-out;
            }

            &__tabbody {
                display: block;
                position: relative;
                height: calc(100% - 60px);
                padding: 20px 16px;
                border-radius: 0px 0px 15px 15px;
                background-color: $white;

                .active {
                    top: 0px;
                    opacity: 1;
                    transform: scale(1);
                    margin-top: 10px;
                }

                &__item {
                    padding-right: 16px;
                    position: absolute;
                    top: -200%;
                    opacity: 0;
                    margin-top: 5px;
                    transform: scale(0.9);
                    transition: opacity 500ms ease-in-out 0ms,
                                transform 500ms ease-in-out 0ms;
                }
            }
        }
    }
}





// MOBILE MIDDLE TALL
@media only screen and (min-height: 640px) {
    .contact-container {
        &__tabscontainer {
            &__tabs {
                height: 77vh;
            }
        }
    }
}





// MOBILE MIDDLE TALL
@media only screen and (min-height: 730px) {
    .contact-container {
        &__tabscontainer {
            &__tabs {
                height: 60vh;
            }
        }
    }
}





// MOBILE MIDDLE TALL
@media only screen and (min-height: 800px) {
    .contact-container {
        &__tabscontainer {
            &__tabs {
                height: 57vh;
            }
        }
    }
}





// DESKTOP - 1280PX
@media only screen and (min-width: 1280px) {
    .contact-container {
        &__title {
            margin-left: 0;
        }

        &__tabscontainer {
            margin-top: 60px;
            width: 588px;
            margin-left: $margin-side-desktop;
            margin-right: $margin-side-desktop;

            &__tabs {
                height: 49vh;
            }
        }
    }
}





// DESKTOP - 1366PX
@media only screen and (min-width: 1366px) {
    .contact-container {
        &__tabscontainer {
            &__tabs {
                height: 45vh;
            }
        }
    }
}





// DESKTOP - 1440PX
@media only screen and (min-width: 1440px) {
    .contact-container {
        &__tabscontainer {
            &__tabs {
                height: 39vh;
            }
        }
    }
}





// DESKTOP - 1536PX
@media only screen and (min-width: 1536px) {
    .contact-container {
        &__tabscontainer {
            &__tabs {
                height: 46vh;
            }
        }
    }
}





// DESKTOP - 1600PX
@media only screen and (min-width: 1600px) {
    .contact-container {
        &__tabscontainer {
            &__tabs {
                height: 40vh;
            }
        }
    }
}





// DESKTOP - 1920PX
@media only screen and (min-width: 1920px) {
    .contact-container {
        &__tabscontainer {
            &__tabs {
                height: 33vh;
            }
        }
    }
}





// DESKTOP - 2560PX
@media only screen and (min-width: 2560px) {
    .contact-container {
        &__tabscontainer {
            &__tabs {
                height: 26.5vh;
            }
        }
    }
}





// DESKTOP - 3840PX
@media only screen and (min-width: 3840px) {
    .contact-container {
        &__tabscontainer {
            &__tabs {
                height: 17vh;
            }
        }
    }
}