// MOBILE
.footer {
    padding: 30px 26px 20px 26px;
    background-color: $black-light;

    &__content {
        #sitemap-desktop {
            display: none;
        }

        #pages-desktop {
            display: none;
        }

        &__block {
            &__link {
                display: block;
                font-size: $p-small-font-size-mobile;
                color: $white;
                margin-bottom: 5px;
            }

            &__link-email {
                color: $yellow;
                margin-top: 8px;
            }

            &__socialsflexbox-white {
                margin-top: 30px;
            }

            &__socialsflexbox-grey {
                margin-top: 30px;
            }

            &__openhours {
                &__paragraph {
                    font-family: $verdana;
                    font-size: $p-small-font-size-mobile;
                    font-weight: 500;
                    color: $white;
                }
            }
        }

        &__flexbox {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &__block {
                width: 50%;
            }
        }
    }

    &__copyright {
        display: block;
        text-align: center;
        margin-top: 30px;
        font-size: $p-small-font-size-mobile;
        color: white;
    }
}

// DESKTOP - 1280PX
@media only screen and (min-width: 1280px) {
    .footer {
        padding-left: $margin-side-desktop;
        padding-right: $margin-side-desktop;

        &__content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            #sitemap-desktop {
                display: inline-block;
            }

            #pages-desktop {
                display: inline-block;
            }

            &__flexbox {
                display: none;
            }
        }
    }
}

// DESKTOP - 1920PX
@media only screen and (min-width: 1920px) {
    .footer {
        padding-left: $margin-side-hd;
        padding-right: $margin-side-hd;
    }
}

// DESKTOP - 2560PX
@media only screen and (min-width: 2560px) {
    .footer {
        padding-left: $margin-side-qhd;
        padding-right: $margin-side-qhd;
    }
}

// DESKTOP - 3840PX
@media only screen and (min-width: 3840px) {
    .footer {
        padding-left: $margin-side-4k;
        padding-right: $margin-side-4k;
    }
}
