// MOBILE
.home-container {
    &__tabscontainer-manufacturer {
        margin-left: $margin-side-mobile;
        margin-right: $margin-side-mobile;

        &__tabs {
            width: 100%;
            height: 85vh;
            overflow: hidden;
            margin-top: 20px;
            margin-bottom: 30px;
            border: 2px solid $yellow;
            border-radius: 15px;

            &__tabheader {
                height: 60px;
                display: flex;
                align-items: center;

                &__item {
                    width: calc(100% / 2);
                    text-align: center;
                    color: #888;
                    font-weight: 700;
                    cursor: pointer;
                    font-size: 14px;
                    text-transform: uppercase;
                    outline: none;
                    padding-top: 23px;
                    padding-bottom: 23px;
                }

                .active {
                    color: $yellow;
                }
            }

            &__tabindicator {
                position: relative;
                width: calc(100% / 2);
                height: 5px;
                background: $yellow;
                left: 0px;
                border-radius: 5px;
                transition: all 500ms ease-in-out;
            }

            &__tabbody {
                //display: grid;
                //grid-template-columns: repeat(3, 1fr);
                //grid-template-rows: repeat(auto-fill, 70px);

                position: relative;
                height: calc(100% - 60px);
                padding: 20px 16px;
                border-radius: 0px 0px 15px 15px;
                background-color: $white;
                //width: 100%;
                //margin-left: auto;
                //margin-right: auto;
                margin: auto;

                &__item {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 30px;
                    //grid-template-rows: repeat(auto-fill, 70px);
                    padding-right: 32px; //16
                    position: absolute;
                    top: -200%;
                    opacity: 0;
                    margin-top: 20px;
                    transform: scale(0.9);
                    transition: opacity 500ms ease-in-out 0ms,
                                transform 500ms ease-in-out 0ms;

                    div {
                        /* display: inline-block;
                        height: 100%;
                        vertical-align: middle;
                        //text-align: center;
                        position: relative;
                        width: 70px;
                        height: 70px; */
                        position: relative;
                        //width: 80px;
                        //height: 80px;
                        width: 19.5vw;
                        height: 19.5vw;
                    }

                    &__img {
                        /* //display: inline;
                        position: absolute;
                        //position: relative;
                        //top: 50%;
                        width: 100%;
                        vertical-align: middle; */
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        opacity: 0.3;
                        //min-height: 50px;
                    }

                    &__img:hover {
                        opacity: 1;
                        transition: 0.5s;
                    }
                }

                .active {
                    top: 0px;
                    opacity: 1;
                    transform: scale(1);
                    margin-top: 15px;
                    margin-left: auto;
                    margin-right: auto;
                    width: 100%;
                }
            }
        }
    }
}





// DESKTOP - 1280PX
@media only screen and (min-width: 1280px) {
    .home-container {
        &__tabscontainer-manufacturer {
            margin-top: 60px;
            margin-left: $margin-side-desktop;
            margin-right: $margin-side-desktop;

            &__tabs {
                width: 100%;

                &__tabbody {
                    &__item {
                        grid-template-columns: repeat(5, 1fr);
                        //gap: 30px;
                        //grid-template-rows: repeat(auto-fill, 70px);

                        div {
                            text-align: center;
                            width: 7vw;
                            height: 7vw;
                        }
                    }

                    .active {
                        padding-top: 20px;
                    }
                }
            }
    
            &__title {
                margin-top: 0;
            }
        }
    }
}




// DESKTOP - 1536PX
@media only screen and (min-width: 1536px) {
    .home-container {
        &__tabscontainer-manufacturer {
            &__tabs {
                &__tabbody {
                    &__item {
                        div {
                            text-align: center;
                            width: 6.5vw;
                            height: 6.5vw;
                        }
                    }
                }
            }
        }
    }
}





// DESKTOP - 1920PX
@media only screen and (min-width: 1920px) {
    .home-container {
        &__tabscontainer-manufacturer {
            margin-left: $margin-side-hd;
            margin-right: $margin-side-hd;

            &__tabs {
                &__tabbody {
                    &__item {
                        div {
                            text-align: center;
                            width: 5.5vw;
                            height: 5.5vw;
                        }
                    }
                }
            }
        }
    }
}





// DESKTOP - 2560PX
@media only screen and (min-width: 2560px) {
    .home-container {
        &__tabscontainer-manufacturer {
            margin-left: $margin-side-qhd;
            margin-right: $margin-side-qhd;

            &__tabs {
                &__tabbody {
                    &__item {
                        div {
                            text-align: center;
                            width: 4vw;
                            height: 4vw;
                        }
                    }
                }
            }
        }
    }
}





// DESKTOP - 3840PX
@media only screen and (min-width: 3840px) {
    .home-container {
        &__tabscontainer-manufacturer {
            &__tabs {
                &__tabbody {
                    &__item {
                        div {
                            text-align: center;
                            width: 8vw;
                            height: 8vw;
                        }
                    }
                }
            }
        }
    }
}