
/* DEZE CODE MOET NOG WEG */

.machines {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
    list-style-type: none;
}

.machines {
    width: 100%;
}

.machine-layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 6rem;
}

.machine-info {
    line-height: 1.5rem;
}

.machine-info dt {
    font-weight: bold;
}

.machine-text {
    margin-bottom: 1.5rem;
}

.machine-gallery ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
    align-items: center;
}

.machine-gallery li:first-child {
    grid-column-start: 1;
    grid-column-end: -1;
}

.machine-gallery img {
    width: 100%;
}




// FOR CONTACT FORM
.honeypot {
    position: absolute;
    left: -9999px;
}

//HOME ANIMATION
.home-container {
    &__banner {
        &__background {
            &__animation {
                height: 88vh;
                position: relative;

                .intro {
                    //display: flex;
                    color: $black;
                    //height: 100vh;
                    //background: $background-grey; mogelijks een gradient toevoegen (is ook dynamisch)
                    bottom: 0;
                    left: 0;
                    position: absolute;
                    bottom: 30px;
                    left: $margin-side-mobile;
                }

                .typing {
                    position: relative;
                    margin-left: 10px;
                    font-size: 36px;
                }

                .typing::after {
                    content: "";
                    position: absolute;
                    right: -30px;
                    width: 25px;
                    height: 5%;
                    border-bottom: 5px solid $yellow;
                    animation: blink 1s infinite ease;
                    bottom: 0;
                    z-index: 0;
                }

                @keyframes blink{
                    0%{
                        opacity: 0;
                    }
                    100% {
                        opacity: 1;
                    }
                }
            }
        }
    }
}











// DESKTOP - 1280PX
@media only screen and (min-width: 1280px) {

}