
/* DEZE CODE MOET NOG WEG */

.machines {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
    list-style-type: none;
}

.machines {
    width: 100%;
}

.machine-layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 6rem;
}

.machine-info {
    line-height: 1.5rem;
}

.machine-info dt {
    font-weight: bold;
}

.machine-text {
    margin-bottom: 1.5rem;
}

.machine-gallery ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
    align-items: center;
}

.machine-gallery li:first-child {
    grid-column-start: 1;
    grid-column-end: -1;
}

.machine-gallery img {
    width: 100%;
}

.arrow {
    position: absolute;
    //top: 50%; //miss
    //left: 50%; //miss
    transform: translate(-50%, -50%);
    bottom: 62px; //calc
    right: $margin-side-desktop;
}

.arrow span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid $white;
    border-right: 5px solid $white;
    transform: rotate(45deg);
    margin: 0px;
    animation: scroll 2s infinite;
}

.arrow span:nth-child(2){
    animation-delay: -0.2s;
}

.arrow span:nth-child(3){
    animation-delay: -0.4s;
}

@keyframes scroll{
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50%{
        opacity: 1;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    100%{
        opacity: 1;
        transform: rotate(45deg) translate(20px, 20px);
    }
}